<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <title>Explorateur de fichiers</title>
    <link rel="icon" type="image/x-ico" th:href="@{/images/logo.ico}">
    <link th:href="@{/fonts/inter.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabler.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabler-vendors.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/demo.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/js-snackbar.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/dropzone.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/filemanager.css}" rel="stylesheet"/>
  </head>
  <body>
    <div class="page" id="wrapper">
        <div class="sticky-top">
        <div th:replace="header.html"></div>
        <div class="navbar-expand-md">
          <div class="collapse navbar-collapse" id="navbar-menu">
            <div class="navbar navbar-light">
              <div class="container-fluid">
                <div class="d-flex">
                  <ol class="breadcrumb navbar-nav d-flex align-items-center flex-row" aria-label="breadcrumbs">
                    <li class="breadcrumb-item">
                      <a th:href="@{/home}" >
                          <span class="d-lg-inline-block">
                            <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                          </span>
                      </a>
                    </li>
                    <th:block th:each="directory,iter: ${directories}">
                      <li class="breadcrumb-item" th:classappend="${iter.last ? 'active' : ''}"><a th:href="@{'/home?p=' + ${directory.absolutePath}}" th:text="${directory.file?.name}"></a></li>
                    </th:block>
                  </ol>
                </div>
                <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
                  <div class="input-icon">
                    <span class="input-icon-addon">
                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
                    </span>
                    <input type="text" value="" class="form-control" placeholder="Rechercher…" id="search-addon">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="page-wrapper">
          <div class="container-fluid">
            <div class="page-header d-print-none">
              <div class="row g-2 align-items-center">
                <div class="col">
                  <button th:if="${!#lists.isEmpty(items) && session?.user?.hasAnyRole('ROLE_ADMIN', 'ROLE_GIE', 'ROLE_BANK_MONET') && session?.action == null}" onclick="reverseSelection()" class="btn btn-white" title="Inverser la sélection">
                    <svg class="icon m-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3.5 5.5l1.5 1.5l2.5 -2.5" /><path d="M3.5 11.5l1.5 1.5l2.5 -2.5" /><path d="M3.5 17.5l1.5 1.5l2.5 -2.5" /><line x1="11" y1="6" x2="20" y2="6" /><line x1="11" y1="12" x2="20" y2="12" /><line x1="11" y1="18" x2="20" y2="18" /></svg>
                  </button>
                  <a th:if="${!isHome}" th:href="@{'/home?p=' + ${parent}}" class="btn btn-white">
                    <svg class="icon m-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 18h-6a3 3 0 0 1 -3 -3v-10l-4 4m8 0l-4 -4" /></svg>
                  </a>
                </div>
                <div class="col-12 col-md-auto ms-auto d-print-none">
                  <div class="btn-list">
                    <div th:if="${session?.user?.hasRole('ROLE_ADMIN')}" class="dropdown">
                      <button class="btn btn-white dropdown-toggle align-text-top show" th:disabled="${isHome}" data-bs-toggle="dropdown" aria-expanded="true">
                        Actions
                      </button>
                      <div class="dropdown-menu mw-0">
                        <a th:if="${session?.action}" th:href="@{'/paste/files?action=paste&destination=' + ${currentDirectory}}" class="dropdown-item mw-0">
                          <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><rect x="9" y="3" width="6" height="4" rx="2" /></svg>
                          <span class="ml-2">Coller</span>
                        </a>
                        <a th:if="${session?.action}" th:href="@{'/paste/files?action=cancel&destination=' + ${currentDirectory}}" class="dropdown-item mw-0">
                          <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5.575 5.597a1.994 1.994 0 0 0 -.575 1.403v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2m0 -4v-8a2 2 0 0 0 -2 -2h-2" /><path d="M9 5a2 2 0 0 1 2 -2h2a2 2 0 1 1 0 4h-2" /><path d="M3 3l18 18" /></svg>
                          <span class="ml-2">Annuler</span>
                        </a>
                        <a th:if="${session?.action == null}" href="#" onclick="invoke('copy')" class="dropdown-item mw-0">
                          <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h3m9 -9v-5a2 2 0 0 0 -2 -2h-2" /><path d="M13 17v-1a1 1 0 0 1 1 -1h1m3 0h1a1 1 0 0 1 1 1v1m0 3v1a1 1 0 0 1 -1 1h-1m-3 0h-1a1 1 0 0 1 -1 -1v-1" /><rect x="9" y="3" width="6" height="4" rx="2" /></svg>
                          <span class="ml-2">Copier</span>
                        </a>
                        <a th:if="${session?.action == null}" href="#" onclick="invoke('cut')" class="dropdown-item mw-0">
                          <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="7" cy="17" r="3" /><circle cx="17" cy="17" r="3" /><line x1="9.15" y1="14.85" x2="18" y2="4" /><line x1="6" y1="4" x2="14.85" y2="14.85" /></svg>
                          <span class="ml-2">Couper</span>
                        </a>
                        <a th:if="${session?.action == null}" href="#" onclick="invoke('delete')" class="dropdown-item text-danger mw-0">
                          <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="4" y1="7" x2="20" y2="7" /><line x1="10" y1="11" x2="10" y2="17" /><line x1="14" y1="11" x2="14" y2="17" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                          <span class="ml-2">Supprimer</span>
                        </a>
                      </div>
                    </div>
                    <button th:if="${session?.user?.hasRole('ROLE_ADMIN')}" th:disabled="${session?.action != null || isHome}" id="create-folder" data-bs-toggle="modal" data-bs-target="#modal-create-folder" class="btn btn-success d-none d-sm-inline-block">
                      <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l3 3h7a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2" /><line x1="12" y1="10" x2="12" y2="16" /><line x1="9" y1="13" x2="15" y2="13" /></svg>
                      Nouveau
                    </button>
                    <button th:if="${session?.user?.hasAnyRole('ROLE_ADMIN', 'ROLE_GIE', 'ROLE_BANK_MONET')}" th:disabled="${session?.action != null}" onclick="invoke('download')" class="btn btn-primary d-none d-sm-inline-block">
                      <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><polyline points="7 11 12 16 17 11" /><line x1="12" y1="4" x2="12" y2="16" /></svg>
                      Télécharger
                    </button>
                    <button th:if="${session?.user?.hasAnyRole('ROLE_ADMIN', 'ROLE_GIE', 'ROLE_BANK_INFO')}" th:disabled="${session?.action != null || (session?.user?.hasRole('ROLE_ADMIN') && isHome)}" class="btn btn-orange d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-upload">
                      <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><polyline points="7 9 12 4 17 9" /><line x1="12" y1="4" x2="12" y2="16" /></svg>
                      Téléverser
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-body">
            <div class="container-fluid">
              <div class="row row-deck row-cards">
                <div class="col-12 mt-1">
                  <div class="card">
                    <div id="table-default">
                      <table class="table card-table table-vcenter text-nowrap datatable" id="main-table">
                        <thead>
                          <tr>
                              <th th:if="${session?.user?.hasAnyRole('ROLE_ADMIN', 'ROLE_GIE', 'ROLE_BANK_MONET') && session?.action == null}" class="w-1">
                                <input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices" id="js-select-all-items" onclick="selectItems(this)">
                              </th>
                              <th><button class="table-sort" data-sort="sort-name">Nom</button></th>
                              <th><button class="table-sort" data-sort="sort-height">Taille</button></th>
                              <th><button class="table-sort" data-sort="sort-modified">Modifié le</button></th>
                              <th><button class="table-sort" data-sort="sort-permission">Permissions</button></th>
                              <th><button class="table-sort" data-sort="sort-owner">Propriétaire</button></th>
                              <th th:if="${session?.user?.hasAnyRole('ROLE_ADMIN', 'ROLE_GIE', 'ROLE_BANK_MONET') && session?.action == null}"></th>
                          </tr>
                        </thead>
                        <tbody class="table-tbody">
                            <tr th:each="item,iter: ${items}">
                              <td th:if="${session?.user?.hasAnyRole('ROLE_ADMIN', 'ROLE_GIE', 'ROLE_BANK_MONET') && session?.action == null}">
                                <input class="form-check-input m-0 align-middle" type="checkbox" th:id="${'item-' + iter.count}" th:data-item-type="${item.file?.directory ? 'folder' : 'file'}" name="paths" th:value="${item.absolutePath}" onclick="return selectItem(this)">
                              </td>
                              <td class="sort-name">
                                <div class="filename">
                                  <th:block th:if="${!item.file.directory}">
                                    <span th:text="${item.file.name}"></span>
                                  </th:block>
                                  <a th:if="${item.file.directory}" th:href="@{'/home?p=' + ${item.absolutePath}}">
                                    <span th:text="${item.file.name}"></span>
                                  </a>
                                </div>
                              </td>
                              <td class="sort-height" th:text="${item.fileSize}"></td>
                              <td class="sort-modified" th:text="${#calendars.format(item.lastModifiedDate, 'dd-MM-yyyy  HH:mm')}"></td>
                              <td class="sort-permission" th:text="${item.permissions}"></td>
                              <td class="sort-owner" th:text="${item.owner}"></td>
                              <td class="inline-actions" th:if="${session?.action == null && session?.user?.hasAnyRole('ROLE_ADMIN', 'ROLE_GIE', 'ROLE_BANK_MONET')}">
                                <div class="dropdown" th:if="${T(com.filemanager.enums.Role).ROLE_ADMIN.equals(session?.user?.role) && !isHome}">
                                  <a href="#" class="link-secondary show" data-bs-toggle="dropdown" aria-expanded="true">
                                    <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="5" cy="12" r="1"></circle><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle></svg>
                                  </a>
                                  <div class="dropdown-menu mw-0">
                                    <a class="dropdown-item mw-0" th:data-download-url="${item.file.directory ? '/download/folder': '/download/file'}" th:data-file-path="${item.absolutePath}" href="#" onclick="downloadFile([this.getAttribute('data-file-path')], this.getAttribute('data-download-url'))">
                                      <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><polyline points="7 11 12 16 17 11" /><line x1="12" y1="4" x2="12" y2="16" /></svg>
                                      <span class="ml-2">Télécharger</span>
                                    </a>
                                    <th:block th:if="${session?.user?.hasRole('ROLE_ADMIN')}">
                                      <a class="dropdown-item mw-0" th:href="@{/move/files(action='copy',paths=${item.absolutePath})}">
                                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h3m9 -9v-5a2 2 0 0 0 -2 -2h-2" /><path d="M13 17v-1a1 1 0 0 1 1 -1h1m3 0h1a1 1 0 0 1 1 1v1m0 3v1a1 1 0 0 1 -1 1h-1m-3 0h-1a1 1 0 0 1 -1 -1v-1" /><rect x="9" y="3" width="6" height="4" rx="2" /></svg>
                                        <span class="ml-2">Copier</span>
                                      </a>
                                      <a class="dropdown-item mw-0" th:href="@{/move/files(action='cut',paths=${item.absolutePath})}">
                                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="7" cy="17" r="3" /><circle cx="17" cy="17" r="3" /><line x1="9.15" y1="14.85" x2="18" y2="4" /><line x1="6" y1="4" x2="14.85" y2="14.85" /></svg>
                                        <span class="ml-2">Couper</span>
                                      </a>
                                      <a class="dropdown-item mw-0" th:data-file-path="${item.absolutePath}" th:data-file-name="${item.file.name}" href="#" onclick="renameFile(this.getAttribute('data-file-path'), this.getAttribute('data-file-name'))">
                                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" /><line x1="13.5" y1="6.5" x2="17.5" y2="10.5" /></svg>
                                        <span class="ml-2">Renommer</span>
                                      </a>
                                      <a class="dropdown-item mw-0 text-danger" th:data-file-path="${item.absolutePath}" th:data-file-type="${item.file.directory}" href="#" onclick="deleteFile(this.getAttribute('data-file-path'), this.getAttribute('data-file-type'))">
                                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="4" y1="7" x2="20" y2="7" /><line x1="10" y1="11" x2="10" y2="17" /><line x1="14" y1="11" x2="14" y2="17" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                                        <span class="ml-2">Supprimer</span>
                                      </a>
                                    </th:block>
                                  </div>
                                </div>
                                <a th:unless="${T(com.filemanager.enums.Role).ROLE_ADMIN.equals(session?.user?.role) && !isHome}" class="link-secondary show" title="Télécharger" th:data-download-url="${item.file.directory ? '/download/folder': '/download/file'}" th:data-file-path="${item.absolutePath}" href="#" onclick="downloadFile([this.getAttribute('data-file-path')], this.getAttribute('data-download-url'))">
                                  <svg class="icon m-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><polyline points="7 11 12 16 17 11" /><line x1="12" y1="4" x2="12" y2="16" /></svg>
                                </a>
                              </td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer d-flex align-items-center">
                      <div class="row">
                        <div class="col-auto d-flex align-items-center pe-2">
                          <span class="legend me-2 bg-primary"></span>
                          <span>Fichiers</span>
                          <span class="d-md-inline d-xxl-inline ms-2 text-muted" th:text="${files}"></span>
                        </div>
                        <div class="col-auto d-flex align-items-center px-2">
                          <span class="legend me-2 bg-danger"></span>
                          <span>Dossiers</span>
                          <span class="d-md-inline d-xxl-inline ms-2 text-muted" th:text="${folders}"></span>
                        </div>
                        <div class="col-auto d-flex align-items-center px-2">
                          <span class="legend me-2 bg-success"></span>
                          <span>Espace libre</span>
                          <span class="d-md-inline d-xxl-inline ms-2 text-muted" th:text="${freeSpace}"></span>
                        </div>
                        <div class="col-auto d-flex align-items-center ps-2">
                          <span class="legend me-2 bg-info"></span>
                          <span>Espace total</span>
                          <span class="d-none d-md-inline d-xxl-inline ms-2 text-muted" th:text="${totalSpace}"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div th:replace="footer.html"></div>
        </div>
    </div>
    </div>
    <div class="modal modal-blur fade" id="modal-create-folder" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Nouveau dossier</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/create}" method="post">
              <input name="path" type="hidden" th:value="${currentDirectory}">
              <div class="modal-body">
                <div class="input-group">
                  <input name="name" class="form-control" autocomplete="off" placeholder="Nom du dossier" required>
                  <button type="submit" class="btn btn-primary">
                    <svg class="icon m-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" /><circle cx="12" cy="14" r="2" /><polyline points="14 4 14 8 8 8 8 4" /></svg>
                    <span class="d-none d-sm-inline-block ml-2">Enregistrer</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-rename" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Renommer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form th:action="@{/rename}" method="post">
            <input name="path" type="hidden" id="file-path">
            <div class="modal-body">
              <div class="input-group">
                <input name="name" id="new-name" class="form-control" autocomplete="off" required>
                <button type="submit" class="btn btn-primary">
                  <svg class="icon m-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" /><circle cx="12" cy="14" r="2" /><polyline points="14 4 14 8 8 8 8 4" /></svg>
                  <span class="d-none d-sm-inline-block ml-2">Enregistrer</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-upload" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Transférer les fichiers</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form name="uploadForm" th:action="@{/upload/files}" method="post" enctype="multipart/form-data">
            <div class="modal-body">
              <div class="mb-3" th:if="${!T(com.filemanager.enums.Role).ROLE_ADMIN.equals(session?.user?.role)}">
                <label class="form-label">Destinataire</label>
                <select class="form-select" name="institution" th:disabled="${!T(com.filemanager.enums.Institution).GIE.equals(session?.user?.institution)}" required>
                  <option th:each="institution : ${T(com.filemanager.enums.Institution).values()}" th:value="${institution}" th:if="${!institution.equals(session?.user?.institution)}" th:text="${institution.displayValue}"></option>
                </select>
              </div>
              <input th:if="${T(com.filemanager.enums.Role).ROLE_ADMIN.equals(session?.user?.role)}" type="hidden" name="destination" th:value="${currentDirectory}" class="form-control" disabled>
              <input type="file" class="visually-hidden" id="upload-files" name="files" multiple />
              <div id="preview" class="dropzone bg-white">
                <div class="fallback">
                  <input name="file" type="file" multiple />
                </div>
                <div class="dz-message">
                  <h3 class="dropzone-msg-title">
                    <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><polyline points="7 9 12 4 17 9" /><line x1="12" y1="4" x2="12" y2="16" /></svg>
                  </h3>
                  <span class="dropzone-msg-desc">Déposez les fichiers ici</span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                Annuler
              </a>
              <button id="send-files" class="btn btn-primary ms-auto">
                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><polyline points="7 9 12 4 17 9" /><line x1="12" y1="4" x2="12" y2="16" /></svg>
                Envoyer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-danger"></div>
          <div class="modal-body text-center py-4">
            <svg class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
            <h3>Êtes vous sûr ?</h3>
            <div class="text-muted" id="delete-message">Voulez-vous vraiment supprimer ces éléments ?</div>
          </div>
          <div class="modal-footer">
            <form th:action="@{/delete/files}">
              <div id="delete-objects"></div>
              <div class="w-100">
                <div class="row">
                  <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                    Annuler
                  </a></div>
                  <div class="col">
                    <button type="submit" class="btn btn-danger w-100">
                      Supprimer
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/js/list.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/tabler.min.js}"></script>
    <script th:src="@{/js/demo.min.js}"></script>
    <script th:src="@{/js/js-snackbar.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables1.min.js}"></script>
    <script th:src="@{/js/loadingoverlay.min.js}"></script>
    <script th:src="@{/js/dropzone.min.js}"></script>
    <script th:src="@{/js/file.manager.js}"></script>
    <!--/*@thymesVar id="notification" type="com.filemanager.models.Notification"*/-->
    <script th:if="${notification}" th:inline="javascript">
      new SnackBar({
        message: /*[[${notification?.message}]]*/ '',
        status: /*[[${notification?.type == 'error' ? 'error' : 'success'}]]*/ '',
        dismissible: false,
        position: 'bc',
        timeout: 3000,
      });
    </script>
    <script>
      Dropzone.options.preview = {
        url: ctx + '/upload/files',
        addRemoveLinks: true,
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 100,
        maxFiles: 100
      }
      $('#modal-upload').on('hidden.bs.modal', function () {
        Dropzone.forElement('#preview').removeAllFiles(true)
      });
      $("#send-files").on("click", function() {
        const dataTransfer = new DataTransfer();
        Dropzone.forElement('#preview').files.forEach(file => dataTransfer.items.add(file));
        document.querySelector('#upload-files').files = dataTransfer.files;
        document.uploadForm.submit();
      });
    </script>
    <script th:if="${!#lists.isEmpty(items)}">
      document.addEventListener("DOMContentLoaded", function() {
        new List('table-default', {
          sortClass: 'table-sort',
          listClass: 'table-tbody',
          valueNames: ['sort-name', 'sort-height', 'sort-modified', 'sort-permission', 'sort-owner']
        });
      })
    </script>
  </body>
</html>