<nav class="navbar navbar-expand-lg navbar-light bg-white main-nav sticky-top row" xmlns:th="http://www.thymeleaf.org">
    <a class="navbar-brand" th:href="@{'/home'}"> File Manager </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a th:href="@{/home}"><i class="fa fa-home" aria-hidden="true"></i></a>
        <th:block th:each="directory: ${directories}">
            <i class="bread-crumb px-1"> / </i><a th:href="@{'/home?p=' + ${directory.absolutePath}}" th:text="${directory.file?.name}"></a>
        </th:block>
        <div class="col text-right">
            <ul class="navbar-nav mr-auto float-right">
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"></i>&nbsp;<span th:text="${session?.user?.username}"></span></a>
                    <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="navbarDropdownMenuLink-5">
                        <th:block th:if="${session?.user?.hasRole('ROLE_ADMIN')}">
                            <a class="dropdown-item nav-link" th:href="@{/user/list}"><i class="fa fa-users" aria-hidden="true"></i> Utilisateurs</a>
                            <hr class="dropdown-divider m-0">
                            <a class="dropdown-item nav-link" th:href="@{/log/list}"><i class="fa fa-history" aria-hidden="true"></i> Historique</a>
                            <hr class="dropdown-divider m-0">
                            <a class="dropdown-item nav-link" th:href="@{/settings}"><i class="fa fa-cogs" aria-hidden="true"></i> Paramètres</a>
                            <hr class="dropdown-divider m-0">
                        </th:block>
                        <a title="Déconnexion" class="dropdown-item nav-link" th:href="@{/logout}"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>