<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <title>Paramètres</title>
    <link rel="icon" type="image/x-ico" th:href="@{/images/logo.ico}">
    <link th:href="@{/fonts/inter.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabler.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/demo.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/js-snackbar.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/filemanager.css}" rel="stylesheet"/>
</head>
<body>
<div class="page" id="wrapper">
    <div th:replace="header.html"></div>
    <!--/*@thymesVar id="notification" type="com.filemanager.models.Notification"*/-->
    <form th:action="@{'/setting/save'}" method="post">
        <div class="form-group" th:each="setting,iter: ${settings}">
            <label class="font-weight-bold" th:for="${setting.id}" th:text="${setting.label}"></label>
            <input class="form-control" th:id="${setting.id}" th:name="${setting.id}" th:value="${setting.value}">
        </div>
        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
    </form>
</div>
<!-- Tabler Core -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/tabler.min.js}"></script>
<script th:src="@{/js/demo.min.js}"></script>
<script th:src="@{/js/js-snackbar.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/loadingoverlay.min.js}"></script>
<script th:src="@{/js/file.manager.js}"></script>
<!--/*@thymesVar id="notification" type="com.filemanager.models.Notification"*/-->
<script th:if="${notification}" th:inline="javascript">
    new SnackBar({
        message: /*[[${notification?.message}]]*/ '',
        status: /*[[${notification?.type == 'error' ? 'error' : 'success'}]]*/ '',
        dismissible: false,
        position: 'bc',
        timeout: 3000,
    });
</script>
</body>
</html>
