<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Manage your files efficiently and easily with GIE File Manager">
    <meta name="author" content="GIE-GCB">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <title>Utilisateurs</title>
    <link rel="icon" type="image/x-ico" th:href="@{/images/logo.ico}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body class="navbar-sticky-top" style="height: 100vh">
<div id="wrapper" class="container-fluid overflow-auto position-relative h-100">
    <div th:replace="navbar.html"></div>
    <div class="pt-3">
        <form onsubmit="return submitForm(event)" th:action="@{'/download/files'}" id="selection-form" name="selectionForm" method="post">
            <div class="table-responsive">
                <div class="row mx-0">
                    <div class="col-lg-9 px-0">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a th:href="@{'/user/save'}" class="btn btn-small btn-outline-primary btn-2"><i class="fa fa-plus"></i> Ajouter</a>
                            </li>
                            <li class="list-inline-item">
                                <input type="submit" class="d-none delete" id="a-delete">
                                <a href="javascript:document.getElementById('a-delete').click();" class="btn btn-small btn-outline-primary btn-2"><i class="fa fa-trash-o"></i> Supprimer</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:reverseSelection();" class="btn btn-small btn-outline-primary btn-2"><i class="fa fa-list"></i> Inverser la sélection</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 px-0">
                        <div class="input-group input-group-sm">
                            <input class="form-control" placeholder="Recherche" aria-label="Recherche" id="search-addon">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover table-sm bg-white dataTable" id="main-table" role="grid">
                    <thead>
                        <tr role="row">
                            <th style="width: 10px;" class="custom-checkbox-header sorting_asc">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="js-select-all-items" onclick="selectItems(this)">
                                    <label class="custom-control-label" for="js-select-all-items"></label>
                                </div>
                            </th>
                            <th>Nom d'utilisateur</th>
                            <th>Role</th>
                            <th>Statut</th>
                            <th>Dernière connexion</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user,iter: ${users}">
                            <td class="custom-checkbox-td">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" th:id="${'item-' + iter.count}" name="ids" th:value="${user.id}" onclick="return selectItem(this)">
                                    <label class="custom-control-label" th:for="${'item-' + iter.count }"></label>
                                </div>
                            </td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.role}"></td>
                            <td th:text="${user.enabled ? 'ACTIF' : #strings.toUpperCase('désactivé')}"></td>
                            <td th:text="${#calendars.format(user.lastLogin, 'dd-MM-yyyy  HH:mm')}"></td>
                            <td>
                                <a class="text-decoration-none text-left" th:href="@{'/user/save?id=' + ${user.id}}">
                                    <i class="fa fa-pencil-square-o fa-fw"></i> Modifier
                                </a> |
                                <a class="text-decoration-none text-danger text-left" th:data-user-id="${user.id}" onclick="deleteItem(this.getAttribute('data-user-id'), 'user/delete')" href="#">
                                    <i class="fa fa-trash-o fa-fw"></i> Supprimer
                                </a> |
                                <a class="text-decoration-none text-left" th:href="@{'/user/toggle/' + ${user.id}}">
                                    <i class="fa fa-fw" th:classappend="${user.enabled ? 'fa-toggle-off' : 'fa-toggle-on'}"></i> <span th:text="${user.enabled ? 'Désactiver' : 'Activer'}"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <!--/*@thymesVar id="notification" type="com.filemanager.models.Notification"*/-->
    <div th:if="${notification}" id="notification" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000" style="position: absolute; bottom: 10px; right: 10px;">
        <div class="toast-header">
            <i class="fa fa-warning mr-2"></i>
            <strong class="mr-auto">Notification</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" th:utext="${notification?.message}"></div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/loadingoverlay.min.js}"></script>
<script th:src="@{/js/file.manager.js}"></script>
<script>
    $('#notification').toast('show');
</script>
</body>
</html>
